{% extends "layout.html" %}
{% block content %}
    
<div class="table-responsive">
  <table class="table table-bordered table-hover text-nowrap" data-test="urls">
    <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Последняя проверка</th>
      <th>Код ответа</th>
    </tr>
    </thead>
    <tbody>
        {% for data in urls %}
        <tr>
            <td>{{ data.id }}</td>
            <td>
                <a href='/urls/{{ data.id }}'>{{ data.name }}</a>
            </td>
            {% if data.created_at and data.status_code %}
            <td>{{ data.created_at }}</td>
            <td>{{ data.status_code }}</td>
            {% else %}
            <td></td>
            <td></td>
            {% endif %}
        {% endfor %}
    </tbody>
  </table>
</div>

    </div>
  </main>
{% endblock %}
